@model KerazaWebApplication.Models.Language

@{
    ViewData["Title"] = "Details";
}

<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <h1 class="mb-3">@Model.Name</h1>
    </div>
<div>
    <h4>Language</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
